/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */

@import url(./reset.min.css);

#share42 {
    top: 5px;
    right: 5px;
    position: absolute;
    z-index: 1000;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

.infopanel {
    border: 1px black solid;
    background-color: #FAE6B3;
}

.top {
    background: #9D9FA1;
    width: 100%;
}

.emptytextbox {
    color: #cccccc;
}

.examplename {
    font-weight: bold;
}

.examplepanel {
    margin: 5px;
    border: 1px #cccccc solid;
    border-radius: 5px; 
    float: left;
    cursor: pointer;
    padding: 5px;
}

.exampletags {
    font-style: italic;
    color: #aaaaaa;
    font-size: small;
}

.examplepanel:hover {
    background-color: #EEEEEE;
    font-style: italic;
    color: #aaaaaa;
    font-size: small;
}

h1 {
    color: #003A6B;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}

h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #FCB100;
}

.gwt-DialogBox-closebutton {
    font-weight: bold;
    color: #dd0000;
    padding: 2px;
    margin-left: 2px;
    cursor: pointer;
}

.gwt-DialogBox-closebutton:ACTIVE {
    padding: 1px;
    border: thin #dd0000 solid;
}

.gwt-DialogBox-closebutton:HOVER {
    padding: 2px;
    color: #ee0000;
}

.olControlAttribution {
    bottom: 5px !important;
}

.olControlScale{
    color: #000;
    font-weight: bolder;
}

/*.olMap{
    cursor: default;
    height: 500px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 500px !important;
    z-index: 1000 !important;
}*/

.getFeatureInfoBackgroud{
    background: gray;
    background-color: #E3E3E3;
    overflow: visible;
    display: block;
}

#map {
    position: static;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

table#mapInfoPanel td {
    font-size: 18px;
    text-overflow: ellipsis;
    padding: 16px 16px 0px;
    width: 280px;
    max-width: 280px;
    /*height: 66px;*/
}

#layersPanel span{
    padding: 0px 16px 0px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    /* -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05); */
}

#layersPanel img{
    clear:both;
    display:block;
    padding: 0px 16px 0px;
    border-bottom: none!important;
}

#layersPanel span label {
    text-align: left;
    cursor: default;
    font-weight: bold;
    color: #222;
    font-size: 16px;
    line-height: 21px;
    height: 21px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 21px;
    max-width: 210px;
    width: 200px;
}

.clearfix{
    clear:both;
}


#layersPanel input[type=checkbox] {
    background: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png) no-repeat -5px -3px!important;
    background-image: -webkit-image-set(url(//ssl.gstatic.com/ui/v1/menu/checkmark.png) 1x,url(//ssl.gstatic.com/ui/v1/menu/checkmark_2x.png) 2x)!important;
    height: 15px;
    outline: 0;
    width: 15px;
    left: 0;
    position: relative;
    top: 7px;
    float: right;
    border: 1px solid #aaaaaa;
    border-radius: 0px;
}

input[type='checkbox'] {
    margin-top: -30px;
}
input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 1px;
    display: block;
    float: left;
    position: relative;
    cursor:pointer;
}
input[type='checkbox']:after {
    content:"";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left:0px;
    top:0px;
    font-size:10px;
    -webkit-box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
    -moz-box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
    box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
    background: #45484d;
}
input[type='checkbox']:hover:after, input[type='checkbox']:checked:hover:after {
    background: #2d2d2d;
    content:'\2714';
    color: #888;
}
input[type='checkbox']:checked:after {
    background: #202020;
    content:'\2714';
    color: #fff;
}



#mapInfoPanel {
    position: absolute;
    top: 30px!important;
    left: 30px!important;
    /* padding: 16px; */
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    /*z-index: 750;*/
    z-index: 20;
    /*    width: 280px;
        max-width: 280px;*/
    height: 80px;
    background-color: #ffffff;
    border-radius: 2px;
}

#layersPanel {
    position: absolute;
    top: 112px!important;
    left: 30px!important;
    padding: 16px;
    width: 280px!important;
    /* border-bottom: 1px solid #e5e5e5; */
    /* -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05); */
    /* box-shadow: 0 2px 2px rgba(0,0,0,.05); */
    /*z-index: 770;*/
    z-index: 30;
    background-color: #ffffff;

    display: block; /* important */
    height: 70%;
    overflow-y: scroll;
    max-height: 70%;

    /* border-radius: 2px; */
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background: rgba(0, 60, 136, 0.5)!important;
    filter: alpha(opacity=80)!important;
    width: 200px!important;
}

.olControlScaleLine {
    left: 10px!important;
    bottom:28px!important;
    font-size: xx-small;
    color: rgba(0, 60, 136, 0.7)!important;
    padding: 4px;
    width: 150px;
    background-color: #ddebfd;
    background-repeat: no-repeat;
    background-position: center right;
    border: solid 1px #99bbe8;
}

.olControlScaleLineBottom {
    border: solid 2px rgba(0, 60, 136, 0.7)!important;;
    border-bottom: none;
    margin-top: -2px;
    text-align: center;
}

.olControlScaleLineTop {
    border: solid 2px rgba(0, 60, 136, 0.7)!important;;
    border-top: none;
    text-align: center;
}

.olLayerGoogleCopyright {
    display: none;
    left: 2px;
    bottom: 2px;
}

.olLayerGooglePoweredBy {
    display: none;
    left: 2px;
    bottom: 15px;
}

.olControlMousePosition{
    left: 10px!important;
    bottom: 3px!important;
    font-size: xx-small;
    padding: 4px;
    width: 150px;
    background-color: #ddebfd;
    color: rgba(0, 60, 136, 0.7)!important;
    border: solid 1px #99bbe8;
    font-family: "Courier New", Courier, monospace!important;
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
}

.gwt-CheckBox {
    float: left!important;
}
.gwt-CheckBox-disabled {
    color: #888;
}

label {
    display: inline-block!important;
    margin-bottom: 5px;
}


.gwt-DialogBox {
    z-index: 99;
}

.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(images/hborder.png) repeat-x 0px -2945px;
  -background: url(images/hborder_ie6.png) repeat-x 0px -2144px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(images/vborder.png) repeat-y -31px 0px;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(images/vborder.png) repeat-y -32px 0px;
  -background: url(images/vborder_ie6.png) repeat-y -32px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url(images/circles.png) no-repeat -20px 0px;
  -background: url(images/circles_ie6.png) no-repeat -20px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url(images/circles.png) no-repeat -28px 0px;
  -background: url(images/circles_ie6.png) no-repeat -28px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(images/circles.png) no-repeat 0px -36px;
  -background: url(images/circles_ie6.png) no-repeat 0px -36px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url(images/circles.png) no-repeat -8px -36px;
  -background: url(images/circles_ie6.png) no-repeat -8px -36px;
}
html>body .gwt-DialogBox {
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.cw-DialogBox {
}

.gwt-Button {
  margin: 0;
  padding: 5px 7px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  font-size:small;
  /*background: url("images/hborder.png") repeat-x 0px -2077px;*/
  border:1px solid #bbb;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 3px;
 -moz-border-radius: 3px;
}
.gwt-Button:active {
  border: 1px inset #ccc;
}
.gwt-Button:hover {
  border-color: #939393;
}
.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}
.gwt-Button[disabled]:hover {
  border: 1px outset #ccc;
}