/* 
    Created on : 20-ott-2014, 18.55.26
    Author     : Nazzareno Sileno - CNR IMAA geoSDI Group
*/

.getFeatureInfoStyle{
    position: absolute;
    width: 200px;
    height: 250px;
    max-height: 250px;
    z-index: 40;
}

/*.geocodingTextFieldCss*/ 
/*input[class="geocodingTextFieldCss"]{
    top: 20px!important;
    right: 15px !important;
}*/

.geocodingBoxCss {
    position: absolute;
    right: 15px !important;
    z-index: 21;
    height: 130px;
    width: 100%;
}

.geocodingTextFieldCss {
    position: relative;
    /*z-index: 21;*/
    height: 30px;
    width: 99%;
    border: 1px #000 solid;
    opacity: 0.85;
    text-indent: 5px;
}

.geocodingResultsCss {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: white;
}

button::-moz-focus-inner {
    border: 0;
}

.collapseLegendButton {
    position: relative;
    top: 25px!important;
    left: 265px!important;
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    background-image: url("img/expand_layer32.png");
}

.expandLegendButton {
    position: relative;
    top: 5px!important;
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
    background-image: url("img/expand_layer32.png");
}
.legendBox {
    position: absolute;
    top: 8px!important;
    left: 20px!important;
    z-index: 21;
}

.geoSDIWatermark {
    position: relative;
    height: 13px;
    width: 100%;
    font-size: smaller;
    opacity: 0.85;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
}