<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-autowire="byName">
    
    <context:component-scan base-package="org.geosdi.maplite,
        org.geosdi.maplite.connectors.ws.service, org.geosdi.maplite.server.service.impl" />
    
    <bean id="geocoderPropertyConfigurer"
              class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="placeholderPrefix" value="geocoderws{" />
        <property name="placeholderSuffix" value="}" />
        <property name="nullValue" value="@null" />
        <property name="locations">
            <list>
                <value>classpath:geocoder-ws.properties</value>
                <value>file:${GP_DATA_DIR}/geocoder-ws.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    
</beans>